.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
  }
  
  .navbar .links {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .navbar .user-section {
    display: flex;
    gap: 15px;
    align-items: center;
    color:aliceblue;
  }
  
  .navbar .user-section span {
    color: #38bdf8;
    font-weight: bold;
  }
  
  .navbar .logout-button {
    padding: 6px 12px;
    border-radius: 8px;
    border: none;
    background-color: #ef4444;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  .navbar .logout-button:hover {
    background-color: #dc2626; /* darker red on hover */
  }
  
  .navbar a {
    text-decoration: none;
    color: #111827; /* dark gray */
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .navbar a:hover {
    color: #3b82f6; /* blue on hover */
  }
  